#page-wrapper {
    background-color: #fafafa;
}

#form-wrapper {
    width: 400px;
    background-color: #e3f2fd;
    margin: 100px auto 20px;
    border: 1px solid #2196f3;
    padding: 16px;
    padding-top: 24px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#form-wrapper h2 {
    margin-top: 0;
}